# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

requests
msal
ldap3
azure-keyvault-certificates
azure-keyvault-secrets
azure-keyvault-keys
azure-functions
azure-identity
ldap3==2.9.1
